.header {
    
    background-image: url("assets/header.png");    
    height: 350px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.project{
    height: 150px;
  
}

.header-text{
    text-align: center;
    color: #ffffff;
}